<ossec_config>
  <client>
    <server>
      <address>your_wazuh_server_ip</address>
      <port>1514</port>
      <protocol>tcp</protocol>
    </server>
    <config-profile>amazon</config-profile>
  </client>

  <!-- Add other Wazuh agent configurations here -->

</ossec_config>